body {
    font-family: "Roboto", serif;
    color: white;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #002e5e;
}

header {
    height: 0%;
}

footer {
    padding: 20px
}

footer p {
    margin: 0px;
}

.headercontainer {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoandtext {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

#discoveryLogo {
    height: 100px;
}

#bigpicture {
    width: 100%;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 25px;
}

.contactus {
    text-align: center;
}

.dsinfo {
    display: flex;
    justify-content: space-around;
    align-items:baseline
}

.infobox {
    font-size: 15px;
    text-align: center;
}

.schoollikenoother {
    padding: 10%px 0px;
    text-align: center;
    margin: 80px 0;
}

.schoollikenoother h2 {
    color: #3cbbff;
    font-weight: lighter;
    font-size: 50px;
    margin: 0px;
    margin-bottom: 40px;
}

.schoollikenoother p {
    margin: 0px;
    padding: 0 25%;
}

.blue {
    color: #002e5e;
}

.bold {
    font-weight: bold;
}

.cursive {
    font-family: "Dancing Script", cursive;
    color: #002e5e;
    font-size: 100px;
}
